@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
/* font-family: 'Kelly Slab', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* font-family: 'Playfair Display', serif; */

.contactContainer
{
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    height: 80vh;
    margin-top: 100px;
}

.contactForm
{
    width: 600px;
    background: var(--gluonGreyPale);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

.formBox
{
    display: flex;
    flex: 1;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.877) 80%, rgb(0, 0, 0));
    width: 100%;
}

.form
{
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
}

.form>span
{
    background-color: transparent;
    width: 100%;
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.form>div
{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

.form>div>span
{
    color: white;
    flex-shrink: 0;
    width: 20%;
}

.form>div>input,
.contactInput
{

    background-color: transparent;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: white;
    outline: none;
    border-bottom: 1px;
    border-color: aliceblue;
    border-style: solid;
    width: 75%;
    margin: 0 20px;
    padding: 3px 5px;
}

.contactInput
{
    min-height: 50px;

}

.form>button
{
    font-family: 'Kelly Slab', sans-serif;
    font-size: 20px;
    background-color: var(--gluonGrey);
    width: 150px;
    height: 40px;
    margin: 50px;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}