.bannerTitleText
{
    fill: var(--gluonGrey);
}

.bannerTitleLogo
{
    transform-origin: 48% center;
    animation: rotateTitleLogo 5s linear infinite alternate;
    -webkit-animation: rotateTitleLogo 5s linear infinite alternate;
}

@keyframes rotateTitleLogo
{

    0%,
    45%
    {
        fill: var(--gluonGrey);
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
    }

    55%,
    100%
    {
        fill: rgb(255, 40, 0);
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
    }
}

.bannerTitle
{
    width: 50%;
}