.divImage
{
    position: fixed;
    top: 0;
    width: 1200px;
    z-index: -1;
}

.Logo
{
    position: absolute;
    top: 50px;
    left: 0px;
}

.bannerTitleText
{
    fill: var(--gluonGrey);
}

.bannerTitleLogo
{
    transform-origin: 48% center;
    animation: rotateTitleLogo 5s linear infinite alternate;
    -webkit-animation: rotateTitleLogo 5s linear infinite alternate;
}

@keyframes rotateTitleLogo
{

    0%,
    45%
    {
        fill: var(--gluonGrey);
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
    }

    55%,
    100%
    {
        fill: rgb(255, 40, 0);
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
    }
}

/* Links CSS  */
.MainLinks
{
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 50%;
    max-width: 250px;
}

.links
{
    text-decoration: none;
    width: 100%;



}

@media screen and (max-width: 550px)
{
    .MainLinks
    {
        flex-direction: column;
        max-width: 80px;
        column-gap: 3;
    }
}

/* buttons styling  */
.webApp
{
    background-color: black;
    color: azure;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 26px;
    width: 100%;

    font-size: small;
}

.playStore
{

    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.appStore
{
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}