@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,700&display=swap');
/* font-family: 'Crimson Pro', serif; */
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;700&display=swap');
/* font-family: 'Yantramanav', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik+Doodle+Shadow&display=swap');

/* How to Play Styling  */
.howToPlay
{
    width: 100%;
    margin-top: 660px;
    padding: 20px 0;
    background-color: var(--slateGrey);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.howToPlay>h3
{
    font-family: 'Yantramanav', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.steps
{
    width: 100%;
    height: 280px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    align-items: center;

    
}

.steps>div
{
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 15px;
    /* background-color: var(--gluonGrey); */
    color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    font-family: 'Poppins', sans-serif;

    background-color:hsla(0,0%,23%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
    radial-gradient(at 65% 13%, hsla(340,100%,76%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
}



.steps>div>span:first-child
{
    position: absolute;
    top: -30px;
    height: 31px;
    background-color: var(--gluonGrey);
    padding: 0 15px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    font-family: 'Crimson Pro', serif;
    font-weight: bold;
    font-size: 26px;
    background-color:hsla(0,0%,23%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
    radial-gradient(at 65% 13%, hsla(340,100%,76%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
   
}

.tyres
{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    height: 30px;
}

/* Media query for responsiveness */
@media screen and (max-width: 600px)
{}