/* League Formats Styling   */


.LeagueFormat
{
    width: 100%;
    padding: 20px;
    background-color: var(--gluonGrey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LeagueFormat h2
{
    font-size: 2.5rem;
    /* Adjust the heading size */
    margin-bottom: 25px;
    font-weight: 800;
    color: white;
}

.nav
{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.nav>div
{
    display: inline-flex;
    gap: 20px;
    justify-content: center;
}

.nav>div>div
{
    width: 100px;
    text-align: center;
}

.nav>span
{
    position: absolute;
    bottom: -2px;
    width: 100px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.281);
}

.btn
{
    cursor: pointer;
    position: relative;
    width: 100px;
}


.btn::after
{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
}

.activeLinkLine {
    transition: left 0.3s ease-in-out;
    -webkit-transition: left 0.3s ease-in-out;
    -moz-transition: left 0.3s ease-in-out;
    -ms-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
}

.btn:hover::after
{
    width: 100%;
}

.btn
{
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    padding: 7px 15px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}

.steps
{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}


.scrollContainer
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
}

.step
{
    cursor: pointer;
    flex-shrink: 0;
    display: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    /* Your existing styles for individual steps */
    width: 100%;
    /* Adjust width as needed */
    margin-right: 10px;
    /* Adjust margin between steps */
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
    /* Step background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
}

.step>h3
{
    text-align: center;
    font-size: larger;
    font-weight: 900;
}

/* .stepIcon
{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
} */

/* Media query for responsiveness */
@media screen and (max-width: 768px)
{
    .steps
    {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}