/* League Formats Styling   */


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

.LeagueFormat
{
    width: 100%;
    padding: 20px;
    background-color: var(--gluonGrey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LeagueFormat h2
{
    font-size: 2.5rem;
    /* Adjust the heading size */
    margin-bottom: 25px;
    font-weight: 800;
    color: white;
}

.nav
{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.nav>div
{
    display: inline-flex;
    gap: 20px;
    justify-content: center;
}

.nav>div>div
{
    width: 100px;
}

.nav>div>div:hover,
.btnActiveLink
{
    border-bottom-width: 1px;
    border-color: black;
    border-style: solid;
}

.nav>span
{
    position: absolute;
    bottom: -2px;
    width: 100px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: left 0.3s ease-in-out;
    -webkit-transition: left 0.3s ease-in-out;
    -moz-transition: left 0.3s ease-in-out;
    -ms-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
}

.btn
{
    width: 100px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.steps
{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}


.scrollContainer
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
}

.step
{
    cursor: pointer;
    flex-shrink: 0;
    display: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    /* Your existing styles for individual steps */
    width: 100%;
    /* Adjust width as needed */
    margin-right: 10px;
    /* Adjust margin between steps */
    padding: 15px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    /* Step background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    background-color: rgb(255, 0, 0);
    background-image:
        radial-gradient(at 40% 20%, hsla(246, 100%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 24% 28%, hsla(47, 100%, 56%, 1) 0px, transparent 50%),
        radial-gradient(at 90% 81%, hsla(213, 100%, 93%, 1) 0px, transparent 50%),
        radial-gradient(at 79% 25%, hsla(198, 100%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 7% 83%, hsla(240, 100%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 47% 15%, hsla(100, 100%, 70%, 1) 0px, transparent 50%)
        /* Add a subtle shadow */
}

.step>h3
{
    text-align: center;
    font-size: larger;
    font-weight: 900;
}

/* .stepIcon
{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
} */

/* Media query for responsiveness */
@media screen and (max-width: 768px)
{
    .steps
    {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}