/* League Formats Styling   */


.LeagueFormat
{
    width: 100%;
    padding: 20px;
    background-color: var(--snowPale);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LeagueFormat h2
{
    font-size: 2.5rem;
    /* Adjust the heading size */
    margin-bottom: 25px;
    font-weight: 800;
}

.steps
{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}


.scrollContainer {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
    width: 100%;
    height: 300px; /* Adjust height according to your content */
  }

.step
{
    scroll-snap-align: center;
    /* Your existing styles for individual steps */
    flex: 0 0 auto;
    width: 300px; /* Adjust width as needed */
    margin-right: 10px; /* Adjust margin between steps */
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
    /* Step background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
}

.stepIcon
{
    width: 50px;
    /* Adjust the icon size */
    height: 50px;
    margin-bottom: 10px;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px)
{
    .steps
    {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}