@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
    --darkVoid: rgb(21, 20, 25);
    --lava: rgb(245, 110, 15);
    --gluonGrey: rgb(27, 27, 30);
    --slateGrey: rgb(38, 38, 38);
    --dustyGrey: rgb(135, 135, 135);
    --dustyGreyPale: rgba(135, 135, 135, 0.9);
    --snow: rgb(251, 251, 251);
    --snowPale: rgba(255, 255, 255, 0.9);
    --softFormat: rgb(255, 53, 53);
    --mediumFormat: rgb(255, 255, 0);
    --hardFormat: rgb(205, 205, 205);
    --customFormat: rgb(49, 145, 255);
    --contestFormat: rgb(255, 100, 0);
}

.rotateTyre
{
    animation: rotation 1800ms infinite linear;
    transform-origin: 50% 50%;
}

@keyframes rotation
{
    from
    {
        transform: rotate(0deg);
    }

    to
    {
        transform: rotate(360deg);
    }
}

.layoutBG
{
    background-color: rgb(15, 15, 15);
    background-image:
        radial-gradient(at 40% 20%, hsla(0, 4%, 25%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(30, 39%, 20%, 0.7) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(0, 3%, 15%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(0, 8%, 10%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(16, 68%, 20%, 1) 0px, transparent 50%);
}

.mainContainer
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}