@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
    --darkVoid: rgb(21, 20, 25);
    --lava: rgb(245, 110, 15);
    --gluonGrey: rgb(27, 27, 30);
    --slateGrey: rgb(38, 38, 38);
    --dustyGrey: rgb(135, 135, 135);
    --dustyGreyPale: rgba(135, 135, 135, 0.9);
    --snow: rgb(251, 251, 251);
    --snowPale: rgba(255, 255, 255, 0.9);
    --softFormat: rgb(255, 53, 53);
    --mediumFormat: rgb(255, 255, 0);
    --hardFormat: rgb(205, 205, 205);
    --customFormat: rgb(49, 145, 255);
    --contestFormat: rgb(255, 100, 0);
}

.rotateTyre
{
    animation: rotation 1800ms infinite linear;
    transform-origin: 50% 50%;
}

@keyframes rotation
{
    from
    {
        transform: rotate(0deg);
    }

    to
    {
        transform: rotate(360deg);
    }
}

.layoutBG
{
    background-color: rgb(15, 15, 15);
    background-image:
        radial-gradient(at 40% 20%, hsla(0, 4%, 25%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(30, 39%, 20%, 0.7) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(0, 3%, 15%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(0, 8%, 10%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(16, 68%, 20%, 1) 0px, transparent 50%);
}

/* Basic styling for the Contact */
.mainContainer {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contactForm {
    max-width: 600px; /* Adjust max-width as needed */
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Example background color for content */
    border-radius: 10px;
  }
  
  .heading {
    text-align: center;
    padding: 20px;
    height: 150px;
    
  }

  .heading>h1,
  .heading>p {
    color: azure;
    margin-top: 15px;
    justify-content: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    
  }


  input[type='text'],
input[type='email'],
input[type='tel'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type='submit'] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Example button color */
  color: white;
  cursor: pointer;
}
  
  
  