@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
    --darkVoid: rgb(21,20,25);
    --lava: rgb(245,110,15);
    --gluonGrey: rgb(27,27,30);
    --slateGrey: rgb(38,38,38);
    --dustyGrey: rgb(135,135,135);
    --snow: rgb(251,251,251);
}

