/* Footer Styling  */
.footer
{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.footer>div
{
    width: 100%;
    max-width: 1200px;
    background-color: var(--gluonGrey);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px 10px 5px 10px;
}

.socials
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 15%;
    position: relative;
    padding: 20px 5px;
}

.socials svg
{
    font-size: 20px;
    color: rgb(207, 207, 207);
}

.socials a
{
    padding: 20px;
    background-color: var(--gluonGrey);
    z-index: 1;
}

a.facebookLink>svg:hover
{
    color: rgb(0, 153, 255);
}

a.twitterLink>svg:hover
{
    color: rgb(0, 195, 255);
}

a.instagramLink>svg:hover
{
    color: rgb(255, 0, 149);
}

a.discordLink>svg:hover
{
    color: rgb(255, 255, 255);
}

.socials>span
{
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(61, 61, 61);
    z-index: 0;
}

.row2
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.row2>div
{
    height: 110px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.row2>div span
{
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

/* Media query for mobile devices */
@media screen and (max-width: 600px)
{
    .row2
    {
        justify-content: center;
        gap: 50px;
    }

    .socials>span
    {
        display: none;
    }
}